
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增计划</title>
    <link href="css/tail.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script>
        function change() {
            var height01 = $(window).height();
            $(".top").css('height', height01 - 35+"px");
        }
    </script>
</head>

<body style="border-radius: 8px" onload="change()">
<form id="form_demo" >
<div class="top">
    <div>
        <div class="top_out">
            <table class="table" >
                <tbody>
                <tr>
                    <td style="border-top: none" >任务名称：</td>
                    <td  colspan = "6"  style="text-align: left;border-top: none">
                        <select name="modules" lay-verify="required" lay-search="" id="rwmc">
                            <option value="">请选择</option>
                            <option value="1">layer</option>
                            <option value="2">form</option>
                            <option value="3">layim</option>
                            <option value="4">element</option>
                            <option value="5">laytpl</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>任务时间：</td>
                    <td  style="text-align: left"><input type="text"  id="rwsj" disabled="disabled" ></td>
                    <td>地理分区：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="dlfq"></td>
                </tr>
                <tr>
                    <td>作业员：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="zyy"></td>
                    <td>检查员：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="jcy"></td>
                </tr>
                <tr>
                    <td>采集：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="cj"></td>
                    <td>核查：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="hj"></td>
                </tr>
                <tr>
                    <td>编辑：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="bj"></td>
                    <td>质检：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="zj"></td>
                </tr>
                <tr>
                    <td>二查：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="ec"></td>
                    <td>合库：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="hk"></td>
                </tr>
                <tr>
                    <td>上交：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="sj"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bot_btn">
        <input class="btn" type="submit" value="保存" onclick="RSave()"/>
        <button class="btn btn1"><a href="myrecode.html" target="right">返回</a></button>
    </div>
</div>
</form>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/date/js/laydate.js"></script>
<script>
    !function () {
        laydate.skin('danlan');//切换皮肤，请查看skins下面皮肤库
        laydate({
            elem: '#rwsj',
            format: 'YYYY', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#cj',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#hj',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#bj',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#zj',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#ec',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#hk',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
        laydate({
            elem: '#sj',
            format: 'YYYY/MM/DD', // 分隔符可以任意定义，该例子表示只显示年月
            festival: true, //显示节日
        });
    }();
    function RSave() {
        alert("接口");

    }
    function TaskCancel() {
        var index = parent.layer.getFrameIndex(window.name)
        parent.layer.close(index);
    }



    //时间格式化函数
    function getFormatTime(time) {
        var time = new Date(parseInt(time));
        var y = time.getFullYear();
        var m = time.getMonth() + 1;
        var d = time.getDate();
        var h = time.getHours();
        var mm = time.getMinutes();
        var s = time.getSeconds();
        return y + '-' + add0(m) + '-' + add0(d) + ' ' + add0(h) + ':' + add0(mm) + ':' + add0(s);
    }
    function add0(m) { return m < 10 ? '0' + m : m }
</script>

</html>
