<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/home.css" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="css/bootstrap-table.css" rel="stylesheet" type="text/css">
<title>基础测绘全流程管理系统</title>
</head>

<body>
<div class="article toolbar">
	<div class="title ue-clear">
    	<h2>常用功能</h2>
    </div>
    <div class="content">
    	<ul class="toollist ue-clear">
    		<li>
            	<a href="" class="img" target="right"><img src="images/icon01.png" /></a>
                <p><a href="" target="right" id="one">我的任务</a></p>
            </li>
            <li>
                <a href="" class="img"><img src="images/leave01.png" /></a>
                <p><a href="" id="two">进度公示</a></p>
            </li>
            <!--<li>
                <a href="" class="img" target="right"><img src="images/myFiles.png" /></a>
                <p><a href="" target="right">个人信息</a></p>
            </li>-->
            <li class="add-btn">
            	<img src="images/add.png" />
            </li>
    	</ul>
        
    </div>
</div>

</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript">
$(".title-list ul").on("click","li",function(){
	var aIndex = $(this).index();
	$(this).addClass("current").siblings().removeClass("current");
	$(".matter-content").removeClass("current").eq(aIndex).addClass("current");
});

$(".duty").find("tbody").find("tr:even").css("backgroundColor","#eff6fa");


var hre=window.location.href;
var usercode=hre.split("#")[1];
//两个功能
$('#one').attr('href','zrecode.html#'+usercode);
$('#two').attr('href','zmyrecode.html#'+usercode);


</script>
<script src="js/layer_v2.1/layer/layer.js"></script>
</html>
