
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>计划与进度</title>
    <link href="css/tail.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script>
        function change() {
            var height01 = $(window).height();
            $(".top").css('height', height01 - 35+"px");
        }
    </script>
</head>

<body style="border-radius: 8px" onload="change()">
<form id="form_demo" >
<div class="top">
    <div>
        <div class="top_out">
            <table class="table" >
                <tbody>
                <tr>
                    <td style="border-top: none" >任务名称：</td>
                    <td  colspan = "6"  style="text-align: left;border-top: none"><input type="text"  id="rwmc" disabled="disabled" ></td>
                </tr>
                <tr>
                    <td>任务时间：</td>
                    <td  style="text-align: left"><input type="text"  id="rwsj" disabled="disabled" ></td>
                    <td>地理分区：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="dlfq" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>作业员：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="zyy" disabled="disabled"></td>
                    <td>检查员：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="jcy" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>采集进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="cjjd"></td>
                    <td>核查进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="hcjd"></td>
                </tr>
                <tr>
                    <td>编辑进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="bjjd"></td>
                    <td>质检进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="zjjd"></td>
                </tr>
                <tr>
                    <td>二查进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="ecjd"></td>
                    <td>合库进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="hkjd"></td>
                </tr>
                <tr>
                    <td>上交进度(%)：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="sjjd"></td>
                </tr>
                </tbody>
                <!--<tbody>
                <tr>
                    <td style="border-top: none" >任务名称：</td>
                    <td  colspan = "6"  style="text-align: left;border-top: none"><input type="text"  id="rwmc" disabled="disabled" ></td>
                </tr>
                <tr>
                    <td>任务时间：</td>
                    <td  style="text-align: left"><input type="text"  id="rwsj" disabled="disabled" ></td>
                    <td>地理分区：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="dlfq" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>作业员：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="zyy" disabled="disabled"></td>
                    <td>检查员：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="jcy" disabled="disabled"></td>
                </tr>
                <tr>
                    <td>采集计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="cjjh" disabled="disabled"></td>
                    <td>采集进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="cjjd"></td>
                </tr>
                <tr>
                    <td>核查计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="hcjh" disabled="disabled"></td>
                    <td>核查进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="hjjd"></td>
                </tr>
                <tr>
                    <td>编辑计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="bjjh" disabled="disabled"></td>
                    <td>编辑进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="bjjd"></td>
                </tr>
                <tr>
                    <td>质检计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="zjjh" disabled="disabled"></td>
                    <td>质检进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="zjjd"></td>
                </tr>
                <tr>
                    <td>二查计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="ecjh" disabled="disabled"></td>
                    <td>二查进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="ecjd"></td>
                </tr>
                <tr>
                    <td>合库计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="hkjh" disabled="disabled"></td>
                    <td>合库进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="hkjd"></td>
                </tr>
                <tr>
                    <td>上交计划：</td>
                    <td  style="text-align: left"><input type="text" class="long_text" id="sjjh" disabled="disabled"></td>
                    <td>上交进度(%)：</td>
                    <td colspan = "3" style="text-align: left"><input type="text" class="long_text" id="sjjd"></td>
                </tr>
                </tbody>-->
            </table>
        </div>
    </div>
    <div class="bot_btn">
        <input class="btn" type="submit" value="保存" onclick="RecodeSave1()"/>
       <!--<button class="btn btn1"><a href="zrecode.html" target="right">返回</a></button>-->
    </div>
</div>
</form>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/date/js/laydate.js"></script>
<script>

    var jinduid;
    var hre=window.location.href;
    var two=hre.split("#")[1];
    var taskid=two.split(",")[0];
    var usercode=two.split(",")[1];
    gettask();

    function gettask(){
        $.ajax({
            async: false,
            type: "GET",
            url: "/taskSchedule/newTaskScheduleInit?userCode="+usercode+"&taskId="+taskid,
            dataType:"json",
            contentType:"application/json;charset=UTF-8",
            success: function(message){
                debugger;
                if(message.code==200){
                    var data = message.data;
                    jinduid=data.taskScheduleId;
                    $("#rwmc").val(data.taskName);//赋值
                    $("#rwsj").val(data.taskYear);//赋值
                    $("#dlfq").val(data.dlfq);//赋值
                    $("#zyy").val(data.userName);//赋值
                    $("#jcy").val(data.jcyName);//赋值
                    //
                    $("#cjjd").val(data.cj==null?0:data.cj);//赋值
                    $("#hcjd").val(data.hc==null?0:data.hc);//赋值
                    $("#bjjd").val(data.bj==null?0:data.bj);//赋值
                    $("#zjjd").val(data.zj==null?0:data.zj);//赋值
                    $("#ecjd").val(data.ec==null?0:data.ec);//赋值
                    $("#hkjd").val(data.hk==null?0:data.hk);//赋值
                    $("#sjjd").val(data.sj==null?0:data.sj);//赋值
                }
                else{
                    alert("请求失误");
                }
            }
        });
    }

    function RecodeSave1() {
        alert(jinduid);
        var dataa={
            "bj":$("#bjjd").val(),
            "cj": $("#cjjd").val(),
            "dlfq": $("#dlfq").val(),
            "ec":$("#ecjd").val(),
            "hc": $("#hcjd").val(),
            "hk": $("#hkjd").val(),
            "jcyName": $("#jcy").val(),
            "sj": $("#sjjd").val(),
            "taskId": taskid,
            "userCode":usercode,
            "zj": $("#zjjd").val(),
        };
        $.ajax({
            async: false,
            type: "POST",
            url: "/taskSchedule/newTaskSchedule",
            contentType:"application/json;charset=UTF-8",
            data:JSON.stringify(dataa),
            dataType: "json",
            success: function (result) {
                if (result.code==200) {
                    alert("保存成功！！！");
                    parent.getRecodeTableData1();
                    TaskCancel();
                } else {
                    alert("保存失败！！！")
                }
            }
        });
    }

    function TaskCancel() {
        var index = parent.layer.getFrameIndex(window.name)
        parent.layer.close(index);
    };
    //时间格式化函数
    function getFormatTime(time) {
        var time = new Date(parseInt(time));
        var y = time.getFullYear();
        var m = time.getMonth() + 1;
        var d = time.getDate();
        var h = time.getHours();
        var mm = time.getMinutes();
        var s = time.getSeconds();
        return y + '-' + add0(m) + '-' + add0(d) + ' ' + add0(h) + ':' + add0(mm) + ':' + add0(s);
    }
    function add0(m) { return m < 10 ? '0' + m : m }
</script>

</html>
